
#secondSection {
  background-color: #E3B8FF;

}

#thirdSection {
  height: 600px;
    background-image: url(https://images.pexels.com/photos/4194852/pexels-photo-4194852.jpeg);
    background-position: center;
}


nav {
  height: 100px;
}

#education {
  background-color: #710F99;
  top: -12%;
}

#fifthSection {
  background-color: #E3B8FF;
  height: 600px;
}

footer {
  background-color: #E3B8FF;
}
