

#thirdSection {
    background-image: url(https://images.pexels.com/photos/4194852/pexels-photo-4194852.jpeg);
    background-position: center;
}


nav {
  height: 100px;
}

footer, #fifthSection, #secondSection {
  background-color: #E3B8FF;
}

#experience {
  color: white;
  background-color: #00FFD7;
}
